<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.hush2.deviceinfo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

</manifest>
